.book-shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.delete-button {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .delete-button {
    margin-left: 25px;
  }

  .delete-button {
    margin-top: -20px;
  }

}

