.book {
  width: 150px; /* Adjust the width of the book */
  height: 200px; /* Adjust the height of the book */
  position: relative;
  margin-bottom: 20px; /* Adjust the bottom margin of the book */
  background-color: #fff; /* Background color for the book */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-button {
  border: none;
  background-color: transparent;
  background-image:url(https://kyan-hamad.github.io/RPG-Game/CookBook-Maker-Logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 150px; /* Adjust the size of the book cover image */
  height: 200px; /* Adjust the size of the book cover image */
}


.book img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio for book cover */
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .book {
    width: 100%; /* Make the book full width on smaller screens */
    height: auto; /* Allow the book height to adjust based on content */
    max-width: 200px; /* Limit the maximum width of the book on smaller screens */
  }
}
