.book-shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between books */
  padding: 20px;
  background-color: #f7f7f7; /* Background color for the bookshelf */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .book-shelf {
    width: 100%; /* Make the bookshelf full width on smaller screens */
  }
}
