.book {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  top: 50%; /* Adjust this value to position the book on the shelf */
}



.book-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 150px; /* Adjust the size of the book cover image */
  height: 200px; /* Adjust the size of the book cover image */
  perspective: 1000px; /* Needed to apply 3D effects */
  transform-style: preserve-3d; /* Needed to apply 3D effects */
  transition: transform 1s;
  transform-origin: right center; /* Set the rotation point to the center of the left edge */
}


.book-button img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden; /* Hide the back of the image */
}

.book-button::before {
  display: none; /* Hide the previous back cover */
}

.book-button .details-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg); /* Rotate the iframe to make it visible from the front */
}

.book-button:hover {
  transform: rotateY(-180deg); /* Rotate the book on hover */
}