.edit-page-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-page-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .edit-page-form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  
  .edit-page-form textarea,
  .edit-page-form input[type="text"],
  .edit-page-form input[type="number"],
  .edit-page-form select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .edit-page-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .edit-page-form button[type="button"] {
    background-color: #28a745;
  }
  
  .edit-page-form .ingredient-inputs {
    display: flex;
    align-items: center;
  }
  
  .edit-page-form .ingredient-inputs input[type="text"],
  .edit-page-form .ingredient-inputs input[type="number"],
  .edit-page-form .ingredient-inputs select {
    margin-right: 10px;
    flex: 1;
  }
  
  .edit-page-form .add-ingredient-button {
    background-color: #ffc107;
  }
  
  .edit-page-form .step-inputs {
    margin-bottom: 10px;
  }
  
  .edit-page-form .step {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .edit-page-form .add-step-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }