.page-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.page-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.page-details p {
    font-size: 16px;
    margin-bottom: 10px;
}
.page-details .recipe-name,
.page-details .steps,
.page-details .ingredient-title {
    font-weight: bold;
    font-size: 20px;
}

.page-details .step-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.page-details .step-list li:before {
    counter-increment: step-counter;
    content: counter(step-counter) ". ";
    margin-right: 10px;
}

.page-details .ingredient-list {
    padding-left: 0;
    text-align: center;
}

.page-details .ingredient-item {
    margin-bottom: 5px;
    position: relative;
    list-style: none;
}

.page-details .steps ol {
    counter-reset: step-counter;
    padding-left: 0;
    list-style: none;
}

.page-details .steps ol li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}

.page-details .steps ol li:before {
    content: counter(step-counter) ". ";
    font-weight: bold;
}

.page-details .divider {
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    max-width: 50%;
}

.page-details .edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
