.top-half {
    height: 650px;
    /* background: url("/frontend/public/white-wave-bg.svg") center bottom -0.5px / 100% 14% no-repeat, linear-gradient(60deg, rgb(237, 80, 180), rgb(82, 67, 170)); */
}

.container {
    text-align: center;
    color: white;
}

.form-group {
    text-align: left;
    color: white;
    width: 30%;
    margin: auto; 
}

.form-group label {
    color: white;
}

.btn-primary {
    margin: auto; 
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    border: none;
    background: transparent;
}

.toggle-password i {
    cursor: pointer;
}

* {
    font-family: 'DM Serif Text', serif;
}

.login-register-text {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
